@import "../../../styles/variable.scss";

.movie-list-bg {
  .movie-list {
    .details {
      display: flex;

      .details-left {
        font-size: large;
      }

      .details-right {
        img {
          width: 100%;
        }
      }
    }

    // background: none;
    // position: static;
    // width: auto;
    // transform: translate(0, 0);
    // padding-left: 0;
    // opacity: 1;
    // :not(h3) {
    //   font-size: $size + 4;
    // }
  }
}