@import "../../../styles/variable.scss";

.detail-wrapper {
  display: flex;
  margin-top: $size + 10;
  .detail-left {
    margin-right: $size + 10;
    img {
      border: 3px solid $white;
    }
  }
  .detail-right {
    .movie-list {
      position: static;
      width: auto;
      transform: translate(0px, 0px);
      padding-left: 0;
    }
  }
}
