@import "../../styles/variable.scss";

.banner-wrapper {
  position: relative;
  font-size: $size + 4;
  img {
    width: 100%;
  }
  // .movie-details {
  //   width: 40%;
  //   position: absolute;
  //   top: 0;
  //   padding: $size + 10;
  //   transform: translate(10%, 10%);
  //   > * {
  //     padding-bottom: $size;
  //   }
  //   h3 {
  //     font-size: 25px;
  //   }
  //   .play-add-btns {
  //     display: flex;
  //     span {
  //       background: $white;
  //       border-radius: 50%;
  //       margin-right: $size;
  //       padding: 15px 19px;
  //       cursor: pointer;
  //       display: flex;
  //       align-items: center;
  //       justify-content: center;
  //       border: 2px solid $red;
  //       &:hover {
  //         background: $red;
  //         svg {
  //           color: $white;
  //         }
  //       }
  //       svg {
  //         color: $red;
  //         font-size: 25px;
  //       }
  //     }
  //   }
  // }
}
