@import "../../styles/variable.scss";

.movie-poster-splitted {
  display: flex;

  .movie-poster-left {
    padding-top: $size + 30 !important;
  }

  .movie-poster-left,
  .movie-poster-right {
    padding: 0 $size + 20 50px;
    width: 50%;
  }

  .movie-poster-right {
    background: #242424;


    .button-toggle {
      button {
        background: $white;
        color: $black;
        border-radius: 0 0 7px 7px;
        padding: $size $size + 13;
        cursor: pointer;
        border: 1px solid transparent;
        width: 100%;

        &:hover {
          box-shadow: 0 0 9px #000;
          border: 1px solid #000;
        }
      }
    }
  }
}