@import "../../styles/variable.scss";

.movie-list-bg {
  .movie-list {
    width: 25%;
    position: absolute;
    top: 15%;
    padding: $size + 10;
    transform: translate(10%, 10%);
    background: black;
    opacity: 0.6;
    border-radius: $size + 30;
    > * {
      padding-bottom: $size;
    }
    h3 {
      font-size: 25px;
    }
    .play-add-btns {
      display: flex;
      span {
        background: $white;
        border-radius: 50%;
        margin-right: $size;
        padding: 15px 19px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid $red;
        &:hover {
          background: $red;
          svg {
            color: $white;
          }
        }
        svg {
          color: $red;
          font-size: 25px;
        }
      }
    }
  }
}
